@model WebDevProject.Views.Account.Examination

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Examination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Group)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
